@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	font-family: Palatino Linotype; 
}

#container{
	min-width: 1024px;
	width: 100%;
	margin: 0 auto;
}

/************Cabeçalho************/

header{
	width: 100%;
	background-color: #96281B;
	color: #FDE3A7;
	margin: 0 auto;
}

header h1 {
	top:30px;
	padding: 0 0 0 20px;
	font-size: 30px;

}

header h2 {
	padding: 0 0 0 20px;
	font-size: 15px;
	/*font-weight: normal;*/
}

/************Navegação************/

nav#menu {
	display: block;
	margin-left: 50%;
	/*top: 0px;
	left: 0px;*/
}

nav#menu ul{
	top:25px;
	margin: 0;
	padding: 0 0 0 0;
	/*list-style: none;*/
}

nav#menu li{
	display: inline-block;
	background-color: #F2784B;
	padding: 5px;
	margin: 2px;
}

nav#menu li a{
	color: #FDE3A7;
	text-decoration: none;
}

nav#menu li:hover a {
  color: #96281B;
}

/************Conteúdo************/

#principal {
	margin: 0 auto;
}

h3#titulo {
	text-align: center;
	padding: 10px;
	background-color: #C0C0C0;
}

/************Formulário************/

fieldset {
	margin: 10px;
	padding: 5px;
	background-color: #A9A9A9;
}

legend{
	border: 1px solid;
	background-color: #A9A9A9;
}

h4, h5{
	font-family: Arial;
}

#dadosMcv, #dadosPi{
	width: 450px;
	float: left;
}

label{
	display: block;
	width: 100%;
	position: relative;
	height: 50px;
}

label.col2{
	float: right;
}

label > span{
	display: block;
	width: 130px;
	float: left;
	border-top: 1px dashed;
}

#leituraMcv > label{
	height: 30px;
	width: 50%;
}

#leituraMcv > label > span{
	width: 60px;
}

span + input{
	width: 100px;
	margin-left: 10px;
	border: 1px solid;
}

/************Rodapé************/

footer{
	width: 100%;
	background-color: #96281B;
	margin: 0 auto;
}
